#Copyright 2015 Lcf.vs
#Released under the MIT license
#https://github.com/Lcfvs/DOMArch
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header always append X-Frame-Options SAMEORIGIN
    Header set X-Content-Type-Options: "nosniff"
    Header set X-Content-Security-Policy "allow 'self';"
    Header set X-Permitted-Cross-Domain-Policies "master-only"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # [sub.]127.0.0.1 -> ./127.0.0.1
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteCond %{HTTP_HOST} (\d+\.\d+\.\d+\.\d+)$
    RewriteCond %{DOCUMENT_ROOT}/%1 -d
    RewriteRule (.*) %1/$1 [L,QSA]
    
    # [sub.]domain.tld -> ./domain.tld
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteCond %{HTTP_HOST} ([a-z\d-]+\.[a-z\d]+)$
    RewriteCond %{DOCUMENT_ROOT}/%1 -d
    RewriteRule (.*) %1/$1 [L,QSA]
    
    # [sub.]domain -> ./domain
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteCond %{HTTP_HOST} ([a-z\d-]+)$
    RewriteCond %{DOCUMENT_ROOT}/%1 -d
    RewriteRule (.*) %1/$1 [L,QSA]
</IfModule>
